* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("assets/images/TableBG.svg");
}

#root {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
