.pageContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.spread {
  position: relative;
  width: 100%;
  justify-content: center;
}

.test {
  justify-self: center;
}
